
.scoreInput {
  text-align: center;
}

.scoreInput-header {
  padding-bottom: 5px;
  margin-bottom: 0;
}

.scoreInput-ballCountLabel {
  margin-bottom: -10px;
}

.scoreInput-checkboxContainer {
  display: flex;
  flex-direction: column;
  padding: 0 10px 15px 10px;
}
